[submodule "src/src/Thermostat"]
	path = src/src/Thermostat
	url = https://github.com/JonShibata/Thermostat.git
[submodule "src/Thermostat"]
	path = src/Thermostat
	url = https://github.com/JonShibata/Thermostat.git
